@font-face {
  font-family: 'iconfont'; /* Project id 3389701 */
  src: url('//at.alicdn.com/t/font_3389701_h07ltjbw2.woff2?t=1652345576439') format('woff2'),
    url('//at.alicdn.com/t/font_3389701_h07ltjbw2.woff?t=1652345576439') format('woff'),
    url('//at.alicdn.com/t/font_3389701_h07ltjbw2.ttf?t=1652345576439') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qizhi-:before {
  content: '\e60a';
}

.icon-fenxiang1:before {
  content: '\e64d';
}

.icon-daka:before {
  content: '\f133';
}

.icon-tuku:before {
  content: '\e63e';
}

.icon-hezuo:before {
  content: '\e734';
}

.icon-dianzan_s:before {
  content: '\e65c';
}

.icon-zan:before {
  content: '\e677';
}

.icon-duihuaqipao:before {
  content: '\e93c';
}

.icon-huangguan:before {
  content: '\e620';
}

.icon-setting:before {
  content: '\e795';
}

.icon-fenxiang:before {
  content: '\e639';
}

.icon-dingyue:before {
  content: '\e818';
}

.icon-sign:before {
  content: '\e6a7';
}
